---
import ArticleLayout from "../layouts/ArticleLayout.astro";

---

<ArticleLayout title="Not found" description="The page could not be found">
	<div class="center">
		<p>
			The page you were looking for could not be found.
		</p>
		<p>
			Try heading back to the <a href="/">start page</a>.
		</p>
	</div>
</ArticleLayout>

<style>
	.center {
		text-align: center;
	}
</style>
