---
import GitHubIcon from "./icons/GitHubIcon.astro";
import MastodonIcon from "./icons/MastodonIcon.astro";
import RSSIcon from "./icons/RSSIcon.astro";

---

<div class="flex flex-row justify-center">
	<a class="btn px-2" href="https://javisst.space/@kalle" rel="me" target="_blank">
		<span class="sr-only">Follow Kalle on Mastodon</span>
		<MastodonIcon/>
	</a>
	<a class="btn px-2" href="https://github.com/applejag" target="_blank">
		<span class="sr-only">Go to Kalle's GitHub profile</span>
		<GitHubIcon/>
	</a>
	<a class="btn px-2" href="/feed.rss" target="_blank">
		<span class="sr-only">Open this blog's RSS feed</span>
		<RSSIcon/>
	</a>
</div>
