---
import HeroImage from "../components/HeroImage.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	description: string;
	headTitle?: string;
	heroImage?: string;
}

const { title, description, headTitle, heroImage } = Astro.props;
---

<BaseLayout title={headTitle ?? title} description={description} image={heroImage}>
	<main class="px-4">
		<article>
			{
				heroImage && (
					<HeroImage src={heroImage} />
				)
			}
			<div class="container mx-auto">
				<div class="title">
					<h1 class="h1">{title}</h1>
					<slot name="subtitle" />
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>

<style>
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
</style>
