---
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<BaseLayout title={title} description={description}>
	<main class="px-4 mx-auto container">
		<slot/>
	</main>
</BaseLayout>

<style>
	main {
		max-width: 960px;
	}
</style>
